@using Shop_Models.Dto
@{
    List<ProductDetailDto> productDetails = ViewBag.ProductDetails;
        List<ImageDto> images = ViewBag.Image;

}

<main class="container" style=" margin: auto;">

    <div class=" ">
        <div class=" row">
            <div class="carousel col-sm-12 col-md-6">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    
                    
                        <div class="carousel-inner">
                        @foreach (var item in images)
                        {
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="@item.LinkImage" class="d-block w-100" alt="">
                            </div>
                        }                        
                        </div>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="carousel col-sm-12 col-md-6">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">


                    <div class="carousel-inner">
                        @foreach (var item in images)
                        {
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="@item.LinkImage" class="d-block w-100" alt="...">
                            </div>
                        }
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- danh lục hãng sản xuất -->
    <div class="Company-list  d-flex justify-content-evenly">

        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 212915.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213009.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213036.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213101.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213124.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213146.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213208.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213227.png">
            </a>
        </div>
        <div class="Company-icons">
            <a>
                <img class="Company company-img" src="./img/Company-icon/Compay_icon/Screenshot 2023-07-02 213303.png">
            </a>
        </div>

    </div>
    <span style="font-weight: 500;font-size: larger; color: rgb(52, 52, 52);">Chọn  theo nhu cầu</span>
    <!-- danh mục loại sản phẩm -->
    <div class="categories-content-wrapper is-flex">
        <div class="item-categories-outer" style="margin-top: 15px;">
            <div class="item-box">
                <a>
                    <span>Văn Phòng</span>
                    <img src="./img/Company-icon/item-cato/Screenshot 2023-06-22 185155 1.png">
                </a>
            </div>
            <div class="item-box">
                <a>
                    <span>Gaming</span>
                    <img src="./img/Company-icon/item-cato/Screenshot 2023-06-22 190131 1.png">
                </a>
            </div>
            <div class="item-box">
                <a>
                    <span>Mỏng Nhẹ</span>
                    <img src="./img/Company-icon/item-cato/Screenshot 2023-06-22 190340 1.png">
                </a>
            </div>
            <div class="item-box">
                <a>
                    <span>Đồ Họa</span>
                    <img src="./img/Company-icon/item-cato/Screenshot 2023-06-22 190543 1.png">
                </a>
            </div>
            <div class="item-box">
                <a>
                    <span>Giá rẻ</span>
                    <img src="./img/Company-icon/item-cato/Screenshot 2023-06-22 191109 1.png">
                </a>
            </div>
        </div>
    </div>
    <!-- sản phẩm hot-sale -->
    <div class="block-hot-sale">
        <div class="block-tittle">
            <b>SĂN NGAY DEAL SỐC  </b>
            <i class="fa-solid fa-bolt" style="margin-left: 15px; color: yellow;transform: rotate(10deg);font-size: 90px;"></i>
        </div>
        <div class="List-products row">

            @{
                for (int i = 0; i < 2; i++)
                {
                    <div class="hot-product  col-md-3" data-code="@productDetails[i].Code.ToString()">

                        <a>
                            <img src="./img/Products/_0005_21675_laptop_asus_x515ma_br481w 1 (no bg).png">
                            <b>@productDetails[i].NameProduct</b>
                            <div class="Product-price">
                                <span>@productDetails[i].Price </span>
                                <p> @productDetails[i].ImportPrice</p>
                                <span class="hot-price">Giá lên đời:</span>
                                <span class="update-price">
                                    12.490.000₫
                                </span>
                            </div>
                            <div class="Like-product">
                                <i class="fa-solid fa-heart"></i>
                                <span>Yêu Thích</span>
                            </div>
                        </a>
                    </div>
                }
            }


        </div>
    </div>

    <section class="product-home-deal">
        <div class="container">
            <div class="box-home-deal">
                <div class="title">
                    <a href="/deal" class="txt">Giờ vàng giá sốc</a>
                    <div class="time" id="js-time-dealgroup">
                        Còn lại
                        <span class="h">97</span> giờ
                        <span class="m">43</span> phút
                        <span class="s">32</span> giây
                    </div>
                    <a href="/deal" class="vm-deal">Xem tất cả <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="produt-list loaded" id="js-home-deal">
                    @{
                        // Định nghĩa phương thức GetProgressBarWidth ở đây
                        string GetProgressBarWidth(int availableQuantity)
                        {
                            // Thực hiện tính toán giá trị chiều rộng dựa trên availableQuantity
                            // Ví dụ: giá trị mặc định là 100%, và giá trị tối đa của availableQuantity là 10
                            double maxWidth = 100; // Giá trị chiều rộng tối đa của thanh tiến trình
                            double maxAvailableQuantity = 10; // Giá trị tối đa của availableQuantity

                            double widthPercentage = (availableQuantity / maxAvailableQuantity) * maxWidth;

                            return widthPercentage.ToString() + "%";
                        }

                        for (int i = 0; i < 2; i++)
                        {
                            double giamgia = ((@productDetails[i].ImportPrice - @productDetails[i].Price) / @productDetails[i].ImportPrice) * 100;
                            <div class="item">
                                <div class="p-container">
                                    <a href="" class="p-img">
                                        <img src="./img/Products/text_d_i_5__1 1.png">
                                        <span class="percent">-@giamgia.ToString("0.")%</span>
                                    </a>
                                    <a href="" class="p-name">@productDetails[i].Code</a>
                                    <div class="p-price-all">
                                        <span class="p-price">
                                            @productDetails[i].Price.ToString("N0")
                                        </span>
                                        <span class="p-old-price">@productDetails[i].ImportPrice.ToString("N0") </span>
                                    </div>
                                    <div class="deal-status">
                                        <div>
                                            <div class="p-order-status w-100">
                                                @{
                                                    double progressBarWidth = double.Parse(GetProgressBarWidth(productDetails[i].Status).Replace("%", ""));
                                                }
                                                @if (progressBarWidth > 50)
                                                {
                                                    <span class="text" style="right: initial; left: 60px; color: #000; transform: translateX(-100%)">
                                                        Còn lại @productDetails[i].Status
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="text" style="right: 10px; left: initial; color: #000">
                                                        Còn lại @productDetails[i].Status
                                                    </span>
                                                }
                                                <span class="bg-count-left" style="width: @GetProgressBarWidth(productDetails[i].Status)"></span>
                                                <span class="icon-order-status icon-order-status-deal" style="left: @GetProgressBarWidth(productDetails[i].Status)"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
 
    <script>
        // Lấy các phần tử HTML cần thao tác
        const hoursElement = document.querySelector('.h');
        const minutesElement = document.querySelector('.m');
        const secondsElement = document.querySelector('.s');

        // Đặt thời gian ban đầu
        let hours = parseInt(hoursElement.textContent);
        let minutes = parseInt(minutesElement.textContent);
        let seconds = parseInt(secondsElement.textContent);

        // Hàm đếm ngược
        function countdown() {
            if (seconds > 0) {
                seconds--;
            } else {
                if (minutes > 0) {
                    minutes--;
                    seconds = 59;
                } else {
                    if (hours > 0) {
                        hours--;
                        minutes = 59;
                        seconds = 59;
                    } else {
                        // Khi hết thời gian, thực hiện các hành động mong muốn
                        clearInterval(timer);
                        console.log("Hết thời gian!");
                    }
                }
            }

            // Cập nhật giá trị mới lên giao diện
            hoursElement.textContent = hours.toString().padStart(2, '0');
            minutesElement.textContent = minutes.toString().padStart(2, '0');
            secondsElement.textContent = seconds.toString().padStart(2, '0');
        }

        // Thiết lập đếm ngược mỗi giây
        const timer = setInterval(countdown, 1000);
    </script>
   


    <!-- danh sách sản phẩm -->
    <div class="Products">
        <b>Sắp Xếp Theo</b>
        <div class="Product-filter">
            <a>
                <div class="price-filter">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                    <span>Giá Cao - Thấp </span>
                </div>
            </a>
            <a>
                <div class="price-filter">
                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                    <span>
                        Giá Thấp  - Cao
                    </span>
                </div>
            </a>
        </div>
        <div class="categories-boxs-name">
            <div class="box-names-title">
                <b>LAP TOP VĂN PHÒNG</b>
            </div>
        </div>
        <div class="List-products-2">
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3 " ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>

        </div>
        <div class="categories-boxs-name">
            <div class="box-names-title">
                <b>LAP TOP GAMING</b>
            </div>
        </div>
        <div class="List-products-2">
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3 " ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>

        </div>
        <div class="categories-boxs-name">
            <div class="box-names-title">
                <b>LAP TOP ĐỒ HỌA</b>
            </div>
        </div>
        <div class="List-products-2">

            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>

            <div class="product-box  col-sm-3" ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>
            <div class="product-box  col-sm-3 " ">
                <a>
                    <img src="./img/Products/text_d_i_5__1 1.png">
                    <b>Laptop Asus VivoBook 15 OLED A1505VA-L1114W</b>
                    <div class="computer-configuration">
                        <div class="configuration-item">
                            <span>16GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>512GB</span>
                        </div>
                        <div class="configuration-item">
                            <span>15.6 inches</span>
                        </div>
                    </div>
                    <div class="Product-price">
                        <span>15.490.000₫ </span>
                        <p> 18.000.000₫</p>
                    </div>
                    <span>Giảm ngay 600.000đ khi mở thẻ TPBANK EVO</span>
                </a>
            </div>

        </div>

    </div>
    <!-- xem them san pham -->
    <div class="More-product">
        <a>
            <span style="color: rgb(199, 194, 194);">Xem Thêm</span>
        </a>
    </div>
    <!-- danh muc chinh sach -->
    <div class="Policy container d-flex justify-content-center text-align-center">
        <div class="row">
            <div class="Policy-item  col-md-3">
                <i class="fa-solid fa-truck-fast"></i>
                <div class="Policy-title">
                    <span>GIAO HÀNG MIỄN PHÍ</span>
                </div>
            </div>
            <div class="Policy-item  col-md-3">
                <i class="fa-solid fa-arrows-rotate"></i>
                <div class="Policy-title">
                    <span>ĐỔI TRẢ NHANH TRÓNG</span>
                </div>
            </div>
            <div class="Policy-item  col-md-3">
                <i class="fa-regular fa-credit-card"></i>
                <div class="Policy-title">
                    <span>THANH TOÁN LINH HOẠT</span>
                </div>
            </div>
            <div class="Policy-item  col-md-3">
                <i class="fa-solid fa-phone"></i>
                <div class="Policy-title">
                    <span>HỖ TRỢ TẬN TÌNH</span>
                </div>
            </div>
        </div>

    </div>

</main>