@model Shop_Models.Dto.ProductDetailDto

@{
    ViewData["Title"] = "Update Product Detail";
    @* @using Shop_Models;
    @using Shop_Models.Entities; *@
   
}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.common.min.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.1207/styles/kendo.default.min.css">
<script src="https://kendo.cdn.telerik.com/2021.3.1207/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.3.1207/js/kendo.all.min.js"></script>
<h2>Update Product Detail</h2>

<form asp-action="Update" asp-route-guid="@Model.Id" method="post">
    <div class="form-group col-md-6">
        <div class="form-group">
            <label asp-for="Code">Product Code</label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tên Sản Phẩm</label>
        <div class="form-group col-md-6">

            <select asp-for="NameProduct" class="form-select" id="selectProductName" required>
                <option value="">Chọn tên Sản phẩm</option>

                @foreach (var item in ViewBag.GetProduct)
                {
                    <option >@item.Name</option>
                }

            </select>



        </div>
    </div>
    <div class="form-group">
        <label asp-for="Code">Product Code</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImportPrice">Import Price</label>
        <input asp-for="ImportPrice" class="form-control" />
        <span asp-validation-for="ImportPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Upgrade">Upgrade</label>
        <input asp-for="Upgrade" class="form-control" />
        <span asp-validation-for="Upgrade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Status</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Name">Product</label>
        <select id="Name" name="Name" class="form-control">
            @foreach (var product in ViewBag.GetProduct)
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label for="Name">Product</label>
        <select id="Name" name="Name" class="form-control">
            @foreach (var product in ViewBag.GetColor)
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>
    </div>

    @* <div class="form-group">
        <label asp-for="ColorId">Color</label>
        <select asp-for="ColorId" asp-items="new SelectList(ViewBag.GetColor, "Id", "Name")" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="RamId">RAM</label>
        <select asp-for="RamId" asp-items="new SelectList(ViewBag.GetRam, "Id", "Name")" class="form-control"></select>
    </div>
    <div class "form-group">
        <label asp-for="CpuId">CPU</label>
        <select asp-for="CpuId" asp-items="new SelectList(ViewBag.GetCPU, "Id", "Name")" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="HardDriveId">Hard Drive</label>
        <select asp-for="HardDriveId" asp-items="new SelectList(ViewBag.GetHardDrive, "Id", "Name")" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ScreenId">Screen</label>
        <select asp-for="ScreenId" asp-items="new SelectList(ViewBag.GetScreen, "Id", "Name")" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="CardVGAId">Card VGA</label>
        <select asp-for="CardVGAId" asp-items="new SelectList(ViewBag.GetlistCardVGA, "Id", "Name")" class="form-control"></select>
    </div> *@

    <button type="submit" class="btn btn-primary">Update</button>
</form>
